{# page.html.twig #}

{{ attach_library('egov_theme/global-styling') }}

<div class="page-wrapper">

    {{ include(active_theme_path() ~ '/templates/partials/header.html.twig') }}


    {# ========== CONTENU PRINCIPAL ========== #}
    <main class="page-main" role="main">
        {{ page.content }}
    </main>

    {{ include(active_theme_path() ~ '/templates/partials/footer.html.twig') }}

</div>


{{ attach_library('egov_theme/global-scripts') }}